export(aq.matrix)
export(betaval)
export(boot.transitions)
export(colorguide)
export(countCDFxt)
export(damping.ratio)
export(eigen.analysis)
export(elasticity)
export(extCDF)
export(fundamental.matrix)
export(generation.time)
export(head2)
export(hudmxdef)
export(image2)
export(Kendall)
export(lambda)
export(lnorms)
export(logi.hist.plot)
export(LTRE)
export(matplot2)
export(matrix2)
export(mean.list)
export(multiresultm)
export(net.reproductive.rate)
export(pfister.plot)
export(pop.projection)
export(projection.matrix)
export(QPmat)
export(reproductive.value)
export(resample)
export(sensitivity)
export(splitA)
export(stable.stage)
export(stage.vector.plot)
export(stoch.growth.rate)
export(stoch.projection)
export(stoch.quasi.ext)
export(stretchbetaval)
export(var2)
export(varEst)
export(vitalsens)
export(vitalsim)
